<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
                <th scope="col">value</th>
            
            @foreach (var resp in responses?.AlgResponses)
            {
                if (resp.Status == 200)
                {
                    <th scope="col">@resp.Name</th>
                }
            }
            @foreach (var resp in responses.CombResponses)
            {
                if (resp.Status == 200)
                {
                    <th scope="col">@resp.Name</th>
                }
            }
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < valueList.GetLength(0); i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>
                @for (int j = 0; j < valueList.GetLength(1); j++)
                {
                    @($"{valueList[i, j]:F3} ")
                }
                </td>
                @foreach (var resp in responses.AlgResponses)
                {
                    @if (resp.Status == 200)
                    {
                        <td>@($"{resp.Data[i]:F3}")</td>
                    }
                }
                @foreach (var resp in responses.CombResponses)
                {
                    @if (resp.Status == 200)
                    {
                        <td>@($"{resp.Data[i]}")</td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@namespace OutliersApp.Components
@using Models

@code
{
    [Parameter]
    public double[,] valueList { get; set; }

    [Parameter]
    public Responses responses { get; set; }

}