@using Data
@using OutliersLib

<div class="input-group" style="margin-top: 8px;">

    @*Надпись слева*@
    <div class="input-group-prepend">
        <span class="input-group-text">Имя модуля</span>
    </div>

    @*Поле выбора справа*@
    <select class="custom-select" @onchange="@OnSelect">
        <option label="Выберите алгоритм..." disabled selected="@(InternalForm.Selected.Name == string.Empty)">choose</option>
        @foreach (var module in InternalForm.InternalModulesList)
        {
            <option label="@module.CoolName" selected="@(InternalForm.Selected.Name == module.Name)">@module.Name</option>
        }
    </select>

</div>


@foreach (var setting in InternalForm.Selected.Settings)
{
    @if (setting is DoubleSettingForm)
    {
        <DoubleParameter SettingsForm="@((DoubleSettingForm)setting)"></DoubleParameter>
    }

    @if (setting is SelectSettingForm)
    {
        <SelectParameter SettingsForm="@((SelectSettingForm)setting)"></SelectParameter>
    }

    @if (setting is BoolSettingForm)
    {
        <BoolParameter SettingsForm="@((BoolSettingForm)setting)"></BoolParameter>
    }
}

@code{

    [Parameter]
    public InternalForm InternalForm { get; set; }

    public void OnSelect(ChangeEventArgs args)
    {
        string selectedName = args.Value.ToString();
        foreach (var internalModule in InternalForm.InternalModulesList)
        {
            if (internalModule.Name == selectedName)
                InternalForm.Selected = internalModule;
        }
    }

}