@using Data
@using OutliersLib

<div class="collapse show">
    <div class="input-group" style="margin-top: 8px;">
        <div class="input-group-prepend"><span class="input-group-text">Addon</span></div><select class="custom-select" @onchange="@OnSelect">
            <option label="Выберите алгоритм..." disabled selected="@(Mod.Selected.Key == "choose")">choose</option>
            @foreach (var module in Config)
            {
                <option label="@module.Value.CoolName" selected="@(Mod.Selected.Key == module.Key)">@module.Key</option>
            }
        </select>
    </div>
</div>

@foreach (var item in Mod.Selected.Value.Options)
{
    @if (item.Value.Type == "double")
    {
        <DoubleParameter Mod="@Mod.Internal" Item="@item"></DoubleParameter>
    }

    @if (item.Value.Type == "string")
    {

    }

    @if (item.Value.Type == "bool")
    {
        <BoolParameter Mod="@Mod.Internal" Item="@item"></BoolParameter>
    }
}

@code{
    [Parameter]
    public InternalStruct Mod { get; set; }
    
    [Parameter]
    public Dictionary<string, ModuleSettings> Config { get; set; }

    public void OnSelect(ChangeEventArgs args)
    {
        if (args.Value.ToString() == "choose")
        {
            Mod.Selected = new KeyValuePair<string, ModuleSettings>(args.Value.ToString(), new ModuleSettings());
            return;
        }

        Mod.Selected = new KeyValuePair<string, ModuleSettings>(args.Value.ToString(),Config[args.Value.ToString()]);
        Mod.Internal.Params.Clear();
        Mod.Internal.Name = args.Value.ToString();
        foreach (var o in Mod.Selected.Value.Options)
        {
            if(o.Value.Type == "double")
            {
                Mod.Internal.Params.Add(o.Key, o.Value.Default);
                continue;
            }

            if(o.Value.Type == "bool")
            {
                Mod.Internal.Params.Add(o.Key, o.Value.Default);
                continue;
            }

            Mod.Internal.Params.Add(o.Key, null);
        }
    }

}