<div class="card-body">
    
    
    
    @*Переключатель внутренней и внешней формы*@
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="@Id 1" name="customRadioInline @Id" class="custom-control-input" @onchange="@EnableName" checked="@ModuleForm.IsInternal">
        <label class="custom-control-label" for="@Id 1">Внутренний</label>
    </div>
    
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="@Id 2" name="customRadioInline @Id" class="custom-control-input" @onchange="@DisableName" checked="@(!ModuleForm.IsInternal)">
        <label class="custom-control-label" for="@Id 2">Внешний</label>
    </div>




    @*Переключатель для внутренний/внешний*@
    @if (ModuleForm.IsInternal)
    {
        <Internal InternalForm=@ModuleForm.Internal></Internal>
    }
    else
    {
        <External ExternalForm=@ModuleForm.External></External>
    }
</div>

@inject IJSRuntime IJSRuntime;
@code{

    protected override void OnAfterRender(bool firstRender)
    {
        IJSRuntime.InvokeVoidAsync("myCollapse", $"card-{Id}", "show");
        base.OnAfterRender(firstRender);
    }

}